$ef-map-categories: (food, shopping, culture, services, health, sport, fun, all);

//////////
// base //
//////////

$ef-header-height-xs-sm: 48px;
$ef-header-height-md-lg: 60px;
$ef-header-button-width-xs-sm: $ef-header-height-xs-sm;
$ef-header-button-width-md-lg: $ef-header-height-md-lg;
$ef-header-logo-width: $ef-header-height-xs-sm;

$ef-search-input-margin-xs-sm: 10px;
$ef-search-input-margin-md-lg: 20px;

$ef-search-underline-width: 1px;
$ef-search-underline-distance-xs-sm: 8px;
$ef-search-underline-distance-md-lg: 10px;
$ef-color-search-underline: palette($blue-grey, 100);

$ef-nav-height-xs-sm: 40px;
$ef-nav-width-md: 80px;
$ef-nav-width-lg: 220px;
$ef-color-nav: palette($blue-grey, 100);
$ef-color-nav-text: palette($blue-grey, 900);
$ef-color-nav-not-active: palette($blue-grey, 300);
$ef-color-nav-active: palette($pink, 600);

// colors

$ef-color-food:     palette($red,         800);
$ef-color-shopping: palette($purple,      800);
$ef-color-culture:  palette($blue,        800);
$ef-color-services: palette($teal,        800);
$ef-color-health:   palette($light-green, 800);
$ef-color-sport:    palette($yellow,      800);
$ef-color-fun:      palette($orange,      800);
$ef-color-all:      palette($blue-grey,   800);

$ef-color-open:     palette($pink,        500);
$ef-color-closed:   palette($blue-grey,   600);

$ef-color-header: palette($blue-grey, 800);

$ef-color-header-tag-background: palette($blue-grey, 300);
$ef-color-header-tag-text: palette($blue-grey, 900);

// icons

$ef-icon-food:     $fa-var-cutlery;
$ef-icon-shopping: $fa-var-shopping-cart;
$ef-icon-culture:  $fa-var-graduation-cap;
$ef-icon-services: $fa-var-briefcase;
$ef-icon-health:   $fa-var-heartbeat;
$ef-icon-sport:    $fa-var-futbol-o;
$ef-icon-fun:      $fa-var-gamepad;
$ef-icon-all:      $fa-var-folder-open;
$ef-icon-closed:   $fa-var-times-circle-o;
$ef-icon-open:     $fa-var-check-circle-o;
$ef-icon-options:  $fa-var-cog;
$ef-icon-filter:   $fa-var-filter;

$ef-text-food:     "Ice i pice";
$ef-text-shopping: "Kupovina";
$ef-text-culture:  "Kultura";
$ef-text-services: "Usluge";
$ef-text-health:   "Zdravlje";
$ef-text-sport:    "Sport";
$ef-text-fun:      "Zabava";
$ef-text-all:      "Sve";
$ef-text-closed:   "Zatvoreno";
$ef-text-open:     "Otvoreno";
$ef-text-options:  "Opcije";
$ef-text-filter:   "Filteri";

//////////////
// homepage //
//////////////

$ef-category-picker-xs-sm: 72px;
$ef-category-picker-md-lg: 48px;

$ef-fab-size: 60px;
$ef-fab-margin: 10px;

$ef-options-margin: $ef-fab-margin + $ef-fab-size / 2;

////////////
// places //
////////////

// images
$ef-cover-image-height-xs-sm: 250px;
$ef-cover-image-height-md: 270px;
$ef-cover-image-height-lg: 320px;

//// card
$ef-card-width-xs: 90%;
$ef-card-width-sm: 640px;
$ef-card-width-md: 840px; // HCN
$ef-card-width-lg: 960px;

// profile picture
$ef-profile-picture-size-xs-sm: 180px;
$ef-profile-picture-size-md-lg: 210px;

$ef-profile-picture-border-xs-sm: 8px;
$ef-profile-picture-border-md-lg: 10px;

$ef-profile-picture-margin-left-md-lg: 50px;

$ef-profile-picture-overlap-xs: 90px;
$ef-profile-picture-overlap-sm: 120px;
$ef-profile-picture-overlap-md: 60px;
$ef-profile-picture-overlap-lg: 80px;

// place category
$ef-place-cateogry-xs-sm: 48px;
$ef-place-category-md-lg: 72px;

// place name
$ef-place-name-width-lg: $ef-card-width-lg - 2 * $ef-profile-picture-margin-left-md-lg - $ef-profile-picture-size-md-lg - $ef-place-category-md-lg;
$ef-place-name-width-md: $ef-card-width-md - 2 * $ef-profile-picture-margin-left-md-lg - $ef-profile-picture-size-md-lg - $ef-place-category-md-lg;
