@charset 'utf-8';

@import 'ljubenovic-toolkit';
@import 'palette';

$font-stack: 'Roboto', sans-serif;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// za glupi chrome
input:focus {
    outline:none;
}





// nadalje krece dizajn za sesiju sa karticama

* {
	transition: flex-grow .66s ease;
}

// button reset
button, input[type="submit"] {
	background: white;
	border: 0;
	color: inherit;
	font: inherit;
}

/**
 * Za ceo sajt:
 */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-stack;
	  background-color: palette($blue-grey, 700); // skloni voo kad proradi flexbox
}


header {
  background-color: palette($blue-grey, 200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
	height: 48px;
  z-index: 10;
  @include z-depth(2);
  .buttons {

  }
}

main {
	background-color: palette($blue-grey, 700);
	flex-grow: 1; //da se main rasiri onoliko koliko mu ostane mesta od header i footer
	display: flex;
	flex-direction: column;
}

/**
 * Novi kurs
 */

main#create-new {
		align-items: center;

		aside {
			margin-top: 50px;
			background-color: palette($blue-grey, 100);
			width: 80%;
			padding: 16px;
			height: 400px;
			display: flex;
			flex-flow: column;

			& > * {
				flex-grow: 1;
			}

			h2 {
				text-align: left;
				font-size: 32px;
				flex-grow: 0;
				height: 32px;
				text-align: center;
				padding: 32px;
				//background-color: palette($green, 500);
			}

			.inputs-and-buttons {
				//background-color: blue;

				display: flex;
				flex-flow: column;
				align-items: center;
				justify-content: center;

				form {
					display: flex;
					flex-flow: column;
					align-items: center;
					width: 80%;

					.inputs { // inputi, bez dugmeta
							display: flex;
							justify-content: space-between;
							align-items: center;

							div {
								display: flex;
								align-items: center;
								flex-flow: column;
								width: 30%;

								input, select {
									width: 100%;
									height: 30px;
									padding: 0 6px;
									margin: 0;
								}
							}

					}

					input[type="submit"] {
						margin-top: 50px;
						background-color: palette($blue-grey, 400);
						font-weight: bold;
						font-size: 24px;
						padding: 10px 16px;
					}
				}
			}

		}
}


/*footer {
  background-color: palette($blue-grey, 200);
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}*/

main {


  .workspace {
    flex-grow: 1; // da se workspace rasiri kolko moze i tako prilepo progress skroz dole

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &>* {
      margin: 36px;
			flex-grow: 1;
    }

    .info {
			flex-grow: 0;
			width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &>* { // sve info kartice (levo, sivo)
        flex-grow: 1;
        background-color: palette($blue-grey, 900);
        @include z-depth(1);
        color: palette($blue-grey, 300);
        padding: 24px;

				&.session-info {
					display: flex;
					flex-flow: column;

					dl {
						flex-grow: 2;
						display: flex;
						justify-content: space-around;
						align-content: space-around;
						align-items: flex-start;
						flex-wrap: wrap;
						font-size: 12px;
						text-align: center;
						display: flex;

						dt {
							color: palette($blue-grey, 600);
						}
					}

					dl.general {
						div {
							width: 40%;
							font-size: 14px;

							dt {
								margin-bottom: 10px;
							}

							dd {
								font-size: 32px;
							}
						}
					}

					dl.total-score {
						flex-grow: 3;
						align-items: center;

						dt {
							font-size: 16px;
							font-weight: bold;
							margin-bottom: 10px;
							color: palette($blue-grey, 400);
						}

						dd {
							font-size: 108px;
							color: palette($pink, 500);
							font-weight: bold;
						}
					}

					dl.last-score {
						align-items: center;
						font-size: 48px;
					}

					dl.last-score-breakdown {
						flex-grow: 1;
						align-items: flex-end; // prilepljeno u z dno kartice
						@include force-height(64px); // jer ce brojke da rastu kako je bolji

						div {
							@include force-width(25%);
						}

						dt {

						}

						dd {
							font-size: 14px;
							position: relative; // "perfect" moze da se alignuje u cenar jer mogu da stavim da ::before ima width:100% i to ce da gadja roditelja tj ovo

							&.level-1 { font-size: 14px; color: palette($blue-grey); }
							&.level-2 { font-size: 18px; color: palette($blue-grey); }
							&.level-3 { font-size: 24px; color: palette($blue-grey); }
							&.level-4 { font-size: 36px; color: palette($blue-grey); font-weight: bold;}
							&.level-5 { font-size: 48px; color: palette($pink); font-weight: bold}

							@keyframes whoom {
								from {font-size: 12px; bottom: 48px; opacity: 1;}
								to   {font-size: 24px; bottom: 60px; opacity: 0;}
							}

							&.level-5::before {
								content: "Perfect!";
								display: block;
								position: absolute;
								font-size: 12px;
								color: palette($blue-grey, 100);
								width: 100%;
								bottom: 48px;
								animation-name: whoom;
								animation-duration: 0.3s;
								animation-fill-mode: forwards;
							}
						}



						// Okrecemo redosled naslova i vrednosti za last-score-breakdown,
						// tj. dole stoji base score
						div {
							display: flex;
							flex-flow: column;
							dd { order: -1; }
						}
					}

				}
      }
    }

    .cards {
			flex-grow: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;
			margin-left: 0;
			margin-right: 0;

      .current-card {
        background-color: palette($blue-grey, 50);
        z-index: 20;
        @include z-depth(4);
        flex-grow: 10;
        width: 100%;
        display: flex;
        flex-direction: column;

        .card-content {
          //background-color: tomato;
          flex-grow: 1;
          margin: 64px;
          margin-bottom: 0;

          &.simple {
            display: flex;
            flex-direction: column;
            align-items: center;

            &>* {
              flex-grow: 1;

              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
              width: 100%;
            }

            .question {
              span {
                display: block;
                font-size: 64px;
                font-weight: bold;
                color: palette($blue-grey, 900);
              }
            }

            .prompt {
              input {
                background-color: transparent;
                border: none;
                border-bottom: solid palette($pink, a400) 3px;
                height: 64px;
                font-size: 48px;
                line-height: 64px;
                padding: 12px;
                color: palette($blue-grey, 800);
                font-family: $font-stack;
              }
            }

            .given-answer {
              span {
                display: block;
                font-size: 36px;
                color: palette($blue-grey, 600);
              }
            }

            .correct-answer {
              span {
                display: block;
                font-size: 64px;
                font-weight: bold;
                color: palette($pink, 600);
              }
            }

            button.next {
              flex-grow: 0;
              height: 48px;
              width: 48px;
              margin-bottom: 64px; // isto kao tajmer
            }

            .card-info {
              flex-grow: 0; // zauzimi ono sto moras
              height: 32px;
              display: flex;
              justify-content: space-between;

              dl {
                &:first-child { text-align: left;  }
                &:last-child  { text-align: right; }

                dt {
                  height: 14px;
                  font-size: 14px;
                  line-height: 14px;
                }

                dd {
                  height: 18px;
                  font-size: 18px;
                  line-height: 18px;
                }
              }
            }
          }
        }

        .timer {
          height: 18px;
          background-color: palette($blue-grey, 200);
          margin: 64px;
          margin-top: 0;
          border-radius: 5px;

          .remaining-time {
            background-color: palette($blue-grey, 500);
            width: 85%;
            height: 100%;
            border-radius: 5px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &>span {
              padding: 10px;
              display: block;
              border-radius: 5px;
              font-size: 12px;
              color: white;
              //background-color: palette($blue-grey, 400);
            }
          }
        }
      }

      .next-card {
        background-color: palette($blue-grey, 300);
        z-index: 5;
        @include z-depth(2);
        flex-grow: 1;
        width: 80%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;

        span {
          display: block;
          font-size: 24px;
          font-weight: bold;
          color: palette($blue-grey, 900);
        }
      }
    }

		.options {
			flex-grow: 0;
			margin-left: 0;
			display: flex;
			flex-flow: column;
			justify-content: flex-start;

			button:not(:last-child) {	margin-bottom: 10px; }
			button {
				width:  40px;
				height: 40px;
				background-color: palette($blue-grey, 300);
				@include z-depth(1);
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				transition: all 0.2s ease;
			}

			button:focus, button:hover {
				background-color: palette($blue-grey, 100);
				width: 46px;
				margin-right: -6px; // jer se width povecava za 6px
			}
		}

  }

  .progress-bar {
    padding: 20px 130px 50px;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        display: inline-block;
        width:  24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 50%;
        background-color: white; // bice predefinisano kasnije za svaki tip posebno
        box-shadow: 0px 0px 0px 0px palette($blue-grey, 600) inset; // zbog tranzicije
        transition: all 0.66s ease;

        // Uvek treba da ima (sakrivenu) brojku, da bi tranzicija radila.
        // Brojka ce biti stvarno vidljiva tek sa .dispaly-number.
        @for $i from 1 through 20 {
          &:nth-child(#{$i})::after { content: "" + $i }
        }
        &::after {
          height: 32px;
          font-weight: bold;
          line-height: 32px;
          font-size: 32px;
          width:  86px;
          display: block;
          position: absolute;
          margin-left: - 86px / 2 + 24px / 2; // poluduzina njega, poluduzina kruzica gore
          margin-top: 0px;
          color: transparentize(palette($blue-grey, 800), 1);
          transition: all .33s linear;
        }

        &.display-number::after {
          margin-top: 32px;
          color: transparentize(palette($blue-grey, 800), 0);
        }

        &.unopened {
          background-color: palette($blue-grey, 800);
          box-shadow: 0px 0px 0px 4px palette($blue-grey, 600) inset;
        }

        &.current {
          @extend .display-number;
          background-color: palette($pink, 600);
          box-shadow: 0px 0px 0px 5px palette($blue-grey, 700) inset, 0px 0px 0px 2px palette($pink, 300);
        }

        &.correct {
          background-color: palette($blue-grey, 500);
          box-shadow: 0px 0px 0px 8px palette($green, 500) inset;
        }

        &.incorrect {
          background-color: palette($blue-grey, 900);
          box-shadow: 0px 0px 0px 5px palette($red, 500) inset;
        }

        &.skipped {
          background-color: palette($blue-grey, 900);
          box-shadow: 0px 0px 0px 2px palette($yellow, 500) inset;
        }
      }
    }
  }

}

















div {}
