@model UpamtiMe.Models.CreateNewCourseModel
@{
    ViewBag.Title = "CreateNew";
}

@{
    List<SelectListItem> categories = new List<SelectListItem>();
    foreach (var val in Enum.GetValues(typeof (Data.Enumerations.Categories)))
    {
        categories.Add(new SelectListItem
        {
            Text = Enum.GetName(typeof (Data.Enumerations.Categories), val),
            Value = ((int) val).ToString()
        });
    }
}

@{
    List<SelectListItem> subcategories = new List<SelectListItem>();
    foreach (var sub in Model.AllSubcategories )
    {
        subcategories.Add(new SelectListItem
        {
            Text = sub.name,
            Value = ((int)sub.subcategoryID).ToString()
        });
    }
}

<main id="create-new">
    <aside>
        <h2>Napravi novi kurs</h2>

        <div class="inputs-and-buttons">
            @using (Html.BeginForm())
            {
                <div class="inputs">

                    <div>
                        <span class="ime">Ime kursa</span>
                        @Html.EditorFor(m => m.Name)
                    </div>

                    <div>
                        <span class="ime">Izaberi kategoriju</span>
                    </div>

                    <div>
                        <span class="ime">Izaberi podkategoriju</span>
                        @Html.DropDownListFor(m => m.SubcategoryID, subcategories, "Choose a subcategory")
                    </div>

                </div>

                <input type="submit" value="Kreiraj" />
            }
        </div>
    </aside>
</main>




