main#courses-index {
  @include force-width(1280px);

  #search-form {
    @extend .big-container;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .search-form-input-group {
      flex-grow: 1;
      margin: 6px;
      display: flex;
      flex-flow: column;

      span {
        display: inline-block;
        height: 14px;
        line-height: 14px;
        font-size: 14px;
        flex-grow: 0;
        font-style: italic;
      }

      .search-form-input {
        height: 36px;
        font-size: .5 * 36px;
        background-color: transparent;
      }

      &.search-button {
        flex-grow: 0;
        height: 36px;
        width: 36px; // kao visina .form inputa

        button {
          width: 100%;
          height: 100%;
          background-color: palette($pink);
          color: rgba(white, .9);
          border-radius: 50%;
        }
      }
    }
  }
}
