main#courses-index {
  @include force-width(1280px);

  #search-form {
    @extend .big-container;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .search-form-input-group {
      flex-grow: 1;
      margin: 6px;
      display: flex;
      flex-flow: column;

      span {
        display: inline-block;
        height: 14px;
        line-height: 14px;
        font-size: 14px;
        flex-grow: 0;
        font-style: italic;
      }

      .search-form-input {
        height: 36px;
        font-size: .5 * 36px;
        background-color: transparent;
      }

      &.search-button {
        flex-grow: 0;
        height: 36px;
        width: 36px; // kao visina .form inputa

        button {
          width: 100%;
          height: 100%;
          background-color: palette($pink);
          color: rgba(white, .9);
          border-radius: 50%;
        }
      }
    }
  }

  #search-results-outer {

    & > ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .result {
      @extend .big-container;
      width: 300px;
      height: 300px + 150px + 2*16px;
      padding: 0;
      position: relative;
      overflow: hidden; // da ne zdrakne senka
      display: flex;
      flex-flow: column;

      .avatar-wrapper {
          position: relative;

        & > a {

          width: 100%;

          .avatar {
            padding-bottom: 100%;
            background-size: cover;
            background-position: center center;
            transition: all .5s ease;
          }
        }

        .creator-username {
          position: absolute;
          bottom: 4px;
          right:  4px;
        }
      }

      .course-info {
        margin: 16px;
        flex-grow: 1;
        position: relative;
        @include force-height(150px);
        overflow: hidden;
        transition: all .5s ease;
        display: flex;
        flex-flow: column;
      }

      .course-info-visible {
        //background-color: palette($green);
        @include force-height(350px); // na 150px koji ima .course-info sam dodoao 200 koje sam smanjio u avataru
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;

        .course-info-init {
          //background-color: palette($yellow);
          width: 100%;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: center;
          @include force-height(150px);
        }

        .show-more {
          position: absolute;
          width: 12px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          top: 4px; right: 4px;
          color: palette($blue-grey, 500);
          cursor: pointer;
        }

        .name {
          width: 100%;
          font-size: 2em;
          font-weight: bold;
        }

        .cat-subcat {
          width: 100%;
          display: flex;

          i {
            margin: 0 8px;
            display: block;
          }
        }

        .stats {
          width: 100%;
          margin: 18px 0;
          display: flex;
          justify-content: space-around;

          dl {
            width: 30%;
            display: flex;
            justify-content: center;
            font-size: 1.2em;

            dt {
              width: 24px;
              text-align: center;
              margin-right: 6px;
            }

            dd {

            }
          }
        } //stats

        .description-snippet-placeholder {
          width: 100%;
          @include force-height(28px);
          overflow: hidden;
          position: relative;
        }

        .description-full {
          flex-grow: 1;
          width: 100%;
          font-size: 14px;
          line-height: 14px;
          margin-top: -28px;
        }

        .button-enroll {
          width: 100%;
          overflow: hidden;
          font-size: 0.75em;
          padding: 6px 0;
          background-color: palette($pink);
          color: rgba(white, .9);
        }

      }

      &.expanded {
        .avatar-wrapper > a > .avatar {
          padding-bottom: 100px;
        }

        .course-info {
          overflow: visible;
          @include force-height(360px);
        }
      }

    }
  }
}
