$lvl-circ: 130px;


main#course-profile {

  padding-bottom: 500px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  aside {
    width: 23.5%;

    & > * {
      background-color: palette($blue-grey, 100);
      @include z-depth(1);
      margin-bottom: 16px;
      padding: 8px 24px;
    }
  }

  .main-content {
    width: 75%;

    // Spisak
    #list-of-cards {
      @extend .full-screen;
      position: fixed;

      #list-of-cards-inner {
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }

      table {
        width: 100%;

        tbody {
          width: 100%;
          text-align: left;

          tr {
            padding: 6px;
            line-height: 16px;
            font-size: 16px;

            &:not(:first-child):hover {
              background-color: rgba(white, .2);
            }

            td, th {
              &:first-child {
                width: 30px;
              }

              &:nth-child(5),
              &:nth-child(6),
              &:nth-child(7),
              &:nth-child(8),
              &:nth-child(9),
              &:nth-child(10),
              &:nth-child(11),
              &:nth-child(12) {
                text-align: center;
              }
            }

            th {
              font-weight: bold;
              text-transform: uppercase;
              padding: 6px 0 12px;
            }

            td {
              padding: 4px 0;

              // # - number
              &:nth-child(1) {
                font-size: 10px;
                opacity: .6;
                padding-right: 12px;
              }

              // Pitanje
              &:nth-child(2) {

              }

              // Odgovor
              &:nth-child(3) {

              }

              // Opis
              &:nth-child(4) {

              }

              // Kombo
              &:nth-child(5) {

              }

              // # tacnih
              &:nth-child(6) {

              }

              // # netacnih
              &:nth-child(7) {

              }

              // Goodness
              &:nth-child(8) {

              }

              // Last seen
              &:nth-child(9) {

              }

              // Next see
              &:nth-child(10) {

              }

              // Spremno za obnavljanje
              &:nth-child(11) {

              }

              // Ignore indikator/dugme
              &:nth-child(11) {

              }
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      // a-ovi
      #button-learn, #button-review, #button-linky, #button-enroll {
        display: block;
        width: 32%;
        height: 72px;

        .button-rect {
          height: 100%;
          width: 100%;
          background-color: palette($blue-grey, 50);

          div:nth-child(1) {
            color: palette($pink, 500);
          }

          div:nth-child(2) {
            color: palette($blue-grey, 900);
          }
        }
      }

      #button-enroll {
        width: 100%;
      }
    }

    & > ul.levels {
      position: relative;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      // Ono cudo koje iskoci kad se klikne na nivo ima negativnu donju marginu, pa za poslednji nivo
      // ode van ovoga. Zato mora:
      padding-bottom: 45px;

      // Clearfixovi
      .clearfix-lg, .clearfix-md, .clearfix-sm {
        display: none;
      }

      @include lg-only {
        .clearfix-lg {
          display: block;
        }
      }

      @include md-only {
        .clearfix-md {
          display: block;
        }
      }

      @include sm-and-below {
        .clearfix-sm {
          display: block;
        }
      }

        // "Kartica" (UI element) za nivo
        & > li.level {
          margin: 16px;

          .circle-display {
            transition: all .5s ease;
            width: $lvl-circ;
            height: $lvl-circ;
            border-radius: 50%;
            position: relative;
            cursor: pointer;

            .icon {
              transition: all .5s ease;
              border-radius: 50%;
              background-color: white;
              position: absolute;
              $ratio: 0.84;
              width: $ratio * $lvl-circ;
              height: $ratio * $lvl-circ;
              line-height: $ratio * $lvl-circ;
              margin: (1-$ratio)*50%;
              text-align: center;
              font-size: 48px;
              font-weight: bold;
              z-index: 10;
            }

            .name {
              position: absolute;
              padding: 5px;
              word-wrap: break-word;
              width: $lvl-circ;
              text-align: center;
              top: 0;
              margin-top: $lvl-circ + 10px;
              color: palette($blue-grey, 800);
              font-size: 18px;
              line-height: 18px;
              border-radius: 5px;
              box-sizing: border-box;

              & > span {
                display: inline-block;
                margin-right: 0.5ex;
                font-weight: bold;
              }
            }

            /**
             * POCINJE PITA
             */
            .pie-ring-outer {
              position: absolute;
              width: $lvl-circ;
              height: $lvl-circ;
              z-index: 5;
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;

              .pie-ring-inner {
                @include force-height(1 * $lvl-circ);
                @include force-width(1 * $lvl-circ);
                transition: all .2s ease;
                border-radius: 50%;
                display: block;

                .pie {
                  position:absolute;
                  width: $lvl-circ / 2;
                  height: $lvl-circ;
                  overflow:hidden;
                  left: $lvl-circ / 2;
                  transform-origin:left center;
                }

                .pie.big {
              		width: $lvl-circ;
              		height: $lvl-circ;
              		left: 0;
              		transform-origin:center center;
              	}

                .pie:BEFORE {
                  content:"";
                  position:absolute;
                  width: $lvl-circ / 2;
                  height: $lvl-circ;
                  left: - $lvl-circ / 2;
                  border-radius: $lvl-circ/2 0 0 $lvl-circ/2;
                  transform-origin:right center;
                }

                .pie.big:before {
                  left: 0;
                }

                .pie.big:after {
              		content: "";
              		position: absolute;
              		width: $lvl-circ / 2;
              		height: $lvl-circ;
              		left: $lvl-circ / 2;
              		border-radius: 0 $lvl-circ/2 $lvl-circ/2 0;
              	}

                @for $i from 0 to 361 {
                  .pie[data-start="#{$i}"] { transform: rotate(#{$i}deg); }
                  $j : $i + 1;
                  .pie[data-value="#{$i}"]::before {
                    transform: rotate(#{$j}deg);
                  }
                }
                .pie[data-value="0"] { display: none};

              } // pie-ring-inner
            }
            /**
             * KRAJ PITE
             */
          }

          .more-info-outer {
            transition: all .5s ease;
            margin-top: 84px;
            @include force-height(0);
            opacity: 0;
            margin-bottom: -30px;
          }

          .more-info-inner {
            width: 100%;
            position: absolute;
            left: 0;
            height: 240px;
            background-color: palette($blue-grey, 50);
            padding: 24px;
            box-sizing: border-box;
            z-index: 100;
            margin: 0 auto;
            border-radius: 10px;

            display: flex;
            flex-flow: column;

            & > * { margin: auto; @include force-width(80%); }

            .session-buttons {
              order: 1;
              display: flex;
              flex-flow: row;
              justify-content: space-between;
              margin-right: 16px 0;
              width: 100%;

              & > a {
                display: block;
                width: 100%;
                height: 56px;
                margin: 8px;

                & > div {
                  background-color: palette($pink, 500);
                  color: rgba(white, 0.9);
                  width: 100%;
                  height: 100%;
                  font-size: 14px;
                }
              }
            }

            .level-info {
              width: 100%;
              display: flex;
              flex-flow: column;

              .statistics {
                flex-grow: 0;
                width: 100%;

                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;

                dl {
                  width: 20%;
                }
              }

              .list-of-cards {
                flex-grow: 1;
                width: 100%;
              }
            }
          }

          // Trouglic koji pokazuje na nivo iz koga je info expandovan
          .circle-display::after {
            opacity: 0;
            transition: all .5s ease;
            content: "";
            background-color: transparent;
            position: absolute;
            width: 0; height: 0;
            bottom: 0;
            left: 0; right: 0;
            margin: 0 auto;
            margin-bottom: -84px; // isto kao gornja margina celog sranja
            border: 24px solid palette($blue-grey, 50);
            border-top: 24px solid transparent;
            border-left:  18px solid transparent;
            border-right: 18px solid transparent;
          }

          // level
          &.active {

            .circle-display > .icon {
              background-color: palette($pink, 600);
              color: white;
              box-shadow: 0px 0px 0px 4px white inset;
            }

            .pie-ring-inner {
              transform: scale(1.08);
            }

            // Trouglic koji pokazuje na nivo iz koga je info expandovan
            .circle-display::after {
              opacity: 1;
            }

            .more-info-outer {
              opacity: 1;
              @include force-height(240px);
            }
          }
        } // level
    }
  }
}
