/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Moj dodatni reset
 */
input {
  outline: none;
	border: none;
}
input[type="text"] {
	font: inherit;
	background-color: transparent;
	box-shadow: 0px 2px palette($blue-grey, 600);
	transition: box-shadow .33s ease;

	&:focus {
		box-shadow: 0px 2px palette($pink, 600);
	}
}

// button reset
button, input[type="submit"] {
	background: white;
	border: 0;
	color: inherit;
	font: inherit;
}

/**
 * Global
 */

 * {
 	transition: flex-grow .66s ease;
 }

 body {
	 min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   font-family: $font-stack;
 	 background-color: palette($blue-grey, 700);
 }

 header {
   background-color: palette($blue-grey, 200);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
 	height: 48px;
   z-index: 10;
   @include z-depth(2);
 }

 main {
	 @include force-width(1280px);
	 margin: 20px auto 0;
 }

/**
 * FAB
 */
.fab {
	width: 64px;
	height: 64px;
	display: block;
	position: fixed;
	bottom: 24px;
	right: 24px;
	background-color: palette($pink, a400);
	line-height: 64px;
	font-size: 36px;
	text-align: center;
	color: white;
	@include z-depth(2);
	border-radius: 50%;
	cursor: pointer;
	font-weight: bold;
}

/**
 * Pravougaoni dugmici
 */

.button-rect {
	background-color: palette($blue-grey, 200);
	position: relative;
	//border-radius: 5px;
	cursor: pointer;
	overflow: hidden;

	.btn-icon {
		background-color: palette($blue-grey, 300);
		width: 15%;
		transition: all .1s ease;
		height: 100%;
		position: absolute;

		& > span {
			transition: transform .1s ease;
			position: absolute;
			$s: 36px;
			width: $s;
			height: $s;
			line-height: $s;
			font-size: 0.5 * $s;
			right: - $s/2;
			top: 0;
			bottom: 0;
			margin: auto;
			background-color: palette($blue-grey, 50);
			border-radius: 50%;
			text-align: center;
			color: palette($pink);
		}
	}

	& > span {
		position: absolute;
		height: 16px;
		font-size: 16px;
		font-weight: bold;
		top: 0;
		bottom: 0;
		right: 16px;
		margin: auto;
	}

	// Kada se dugme hoveruje
	&:hover {
		.btn-icon {
			background-color: palette($blue-grey, 400);
			width: 18%;

			& > span {
				transform: scale(1);
			}
		}
	}
}

/**
 * Ikoncie, TODO
 */
.icon-id-x {
	@extend .fa, .fa-paw;
}

.icon-id-learn  > span { @extend .fa, .fa-graduation-cap; }
.icon-id-review > span { @extend .fa, .fa-flask; }
.icon-id-linky  > span { @extend .fa, .fa-link; }
.icon-id-list   > span { @extend .fa, .fa-list; }


/**
 * Colors
 */

@function color-id($id, $amount: 500) {
	@if ($id == 1) { @return palette($red, $amount); };
	@if ($id == 2) { @return palette($purple, $amount); };
	@if ($id == 3) { @return palette($indigo, $amount); };
	@if ($id == 4) { @return palette($blue, $amount); };
	@if ($id == 5) { @return palette($teal, $amount); };
	@if ($id == 6) { @return palette($green, $amount); };
	@if ($id == 7) { @return palette($lime, $amount); };
	@if ($id == 8) { @return palette($amber, $amount); };
	@if ($id == 9) { @return palette($deep-orange, $amount); };
	@if ($id == 10) { @return palette($brown, $amount); };
	@return palette($green, $amount);
}

@function icon-id($id) {
	@if ($id == 1)  { @return ".fa-asterisk"; }
	@if ($id == 2)  { @return ".fa-anchor"; }
	@if ($id == 3)  { @return ".fa-automobile"; }
	@if ($id == 4)  { @return ".fa-balance-scale"; }
	@if ($id == 5)  { @return ".fa-bank"; }
	@if ($id == 6)  { @return ".fa-bed"; }
	@if ($id == 7)  { @return ".fa-beer"; }
	@if ($id == 8)  { @return ".fa-bell"; }
	@if ($id == 9)  { @return ".fa-binoculars"; }
	@if ($id == 10) { @return ".fa-birthday-cake"; }
	@if ($id == 11) { @return ".fa-bomb"; }
	@if ($id == 12) { @return ".fa-book"; }
	@if ($id == 13) { @return ".fa-briefcase"; }
	@if ($id == 14) { @return ".fa-bug"; }
	@if ($id == 15) { @return ".fa-building"; }
	@if ($id == 16) { @return ".fa-bullhorn"; }
	@if ($id == 17) { @return ".fa-bus"; }
	@if ($id == 18) { @return ".fa-child"; }
	@if ($id == 19) { @return ".fa-coffee"; }
	@if ($id == 20) { @return ".fa-cogs"; }
	@if ($id == 21) { @return ".fa-comments"; }
	@if ($id == 22) { @return ".fa-cutlery"; }
	@if ($id == 23) { @return ".fa-envelope"; }
	@if ($id == 24) { @return ".fa-eye"; }
	@if ($id == 25) { @return ".fa-flag"; }
	@if ($id == 26) { @return ".fa-gavel"; }
	@if ($id == 27) { @return ".fa-glass"; }
	@if ($id == 28) { @return ".fa-group"; }
	@if ($id == 29) { @return ".fa-headphones"; }
	@if ($id == 30) { @return ".fa-heartbeat"; }
	@if ($id == 31) { @return ".fa-leaf"; }
	@if ($id == 32) { @return ".fa-magic"; }
	@if ($id == 33) { @return ".fa-magnet"; }
	@if ($id == 34) { @return ".fa-microphone"; }
	@if ($id == 35) { @return ".fa-music"; }
	@if ($id == 36) { @return ".fa-paint-brush"; }
	@if ($id == 37) { @return ".fa-motorcycle"; }
	@if ($id == 38) { @return ".fa-paw"; }
	@if ($id == 39) { @return ".fa-quote-right"; }
	@if ($id == 40) { @return ".fa-ship"; }
	@if ($id == 41) { @return ".fa-space-shuttle"; }
	@if ($id == 42) { @return ".fa-sticky-note"; }
	@if ($id == 43) { @return ".fa-suitcase"; }
	@if ($id == 44) { @return ".fa-tachometer"; }
	@if ($id == 45) { @return ".fa-tree"; }
	@if ($id == 46) { @return ".fa-truck"; }
	@if ($id == 47) { @return ".fa-umbrella"; }
	@if ($id == 48) { @return ".fa-wrench"; }
	@if ($id == 49) { @return ".fa-tasks"; }
	@if ($id == 50) { @return ".fa-shopping-basket"; }
	@return ".fa-asterisk";
}
@for $i from 1 to 51 { .icon-id-#{$i}  { @extend .fa, #{icon-id($i)}; } }

/*
 * Mixin za boje
 */

@mixin level-color($color, $lighter: 300, $darker: 600, $icon: 500) {
	.icon { color: palette($color, $icon); }
 	.icon:hover { color:palette($color, $lighter); }
 	&.active { .icon {background-color: palette($color, $darker)!important; } }
 	.pie:nth-of-type(1)::after, .pie:nth-of-type(1)::before { background-color:palette($color, $darker)!important; }
 	.pie:nth-of-type(2)::after, .pie:nth-of-type(2)::before { background-color:palette($color, $lighter)!important; }
 	.pie:nth-of-type(3)::after, .pie:nth-of-type(3)::before { background-color:palette($blue-grey, 700)!important; }
}

.level-red { @include level-color($red, 200); }
.level-purple { @include level-color($purple); }
.level-indigo { @include level-color($indigo); }
.level-blue {	@include level-color($blue); }
.level-teal { @include level-color($teal); }
.level-green { @include level-color($green); }
.level-lime { @include level-color($lime); }
.level-amber { @include level-color($amber); }
.level-orange { @include level-color($orange, 300, 600, 700); }
.level-brown { @include level-color($brown, 300, 500, 600); }

.level-color-id-1 { @extend .level-red; }
.level-color-id-2 { @extend .level-purple; }
.level-color-id-3 { @extend .level-indigo; }
.level-color-id-4 { @extend .level-blue; }
.level-color-id-5 { @extend .level-teal; }
.level-color-id-6 { @extend .level-green; }
.level-color-id-7 { @extend .level-lime; }
.level-color-id-8 { @extend .level-amber; }
.level-color-id-9 { @extend .level-orange; }
.level-color-id-10 { @extend .level-brown; }

/**
 * STATS
 */

dl.stats {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	dt {
		color: palette($blue-grey, 600);
	}

	dd {
		display: inline-block;
		color: palette($pink);
		font-weight: bold;
		font-size: 32px;
	}
}

dl.stats-vertical {
	@extend dl.stats;
	flex-flow: column;
	dd { margin-top: 8px; }
}

dl.stats-horizontal {
	@extend dl.stats;
	flex-flow: row;
	& > * { flex-grow: 1; }
	dt { text-align: left; }
	dd { text-align: right; }
}

/**
* Toastovi
*/
.toast {
	// Fiktivna klasa
	position: fixed;
	width: 40%;
	height: 36px;
	padding: 24px;
	bottom: 64px;
	left: 0; right: 0;
	margin: auto;
	background-color: palette($blue-grey, 900);
	border-radius: 10px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		display: inline-block;
	}
}

.toast-success, .toast-error, .toast-warning, .toast-message {
	@extend .toast;
}

.toast-success {
}

.toast-error {
	span::before {
		@extend .fa, .fa-fw;
	}
}

/**
 * Velike "kartice" koji sluze kao kontejneri na stranicama
 */
.big-container {
	background-color: palette($blue-grey, 100);
	margin-bottom: 16px;
	@include z-depth(1);
	padding: 16px;
	box-sizing: border-box;
}

/**
 * Tooltipovi
 */
.tooltip {
	background-color: rgba(palette($blue-grey, 900), .9);
	color: white;
	padding: 8px 12px;
	position: fixed;
	border-radius: 3px;
	z-index: 9000;
	animation: tooltip-appear .2s ease;

	@keyframes tooltip-appear {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
