/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Moj dodatni reset
 */
input {
    outline: none;
		border: none;
}

// button reset
button, input[type="submit"] {
	background: white;
	border: 0;
	color: inherit;
	font: inherit;
}

/**
 * Global
 */

 * {
 	transition: flex-grow .66s ease;
 }

 body {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   font-family: $font-stack;
 	 background-color: palette($blue-grey, 700);
 }

 header {
   background-color: palette($blue-grey, 200);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
 	height: 48px;
   z-index: 10;
   @include z-depth(2);
 }

 main {
	 @include force-width(1280px);
	 margin: 20px auto 0;
 }

/**
 * FAB
 */
.fab {
	width: 64px;
	height: 64px;
	display: block;
	position: fixed;
	bottom: 24px;
	right: 24px;
	background-color: palette($pink, a400);
	line-height: 64px;
	font-size: 36px;
	text-align: center;
	color: white;
	@include z-depth(2);
	border-radius: 50%;
	cursor: pointer;
	font-weight: bold;
}

/**
 * Pravougaoni dugmici
 */

.button-rect {
	background-color: palette($blue-grey, 200);
	position: relative;
	//border-radius: 5px;
	cursor: pointer;
	overflow: hidden;

	.btn-icon {
		background-color: palette($blue-grey, 300);
		width: 15%;
		transition: all .1s ease;
		height: 100%;
		position: absolute;

		& > span {
			transition: transform .1s ease;
			position: absolute;
			$s: 36px;
			width: $s;
			height: $s;
			line-height: $s;
			font-size: 0.5 * $s;
			right: - $s/2;
			top: 0;
			bottom: 0;
			margin: auto;
			background-color: palette($blue-grey, 50);
			border-radius: 50%;
			text-align: center;
			color: palette($pink);
		}
	}

	& > span {
		position: absolute;
		height: 16px;
		font-size: 16px;
		font-weight: bold;
		top: 0;
		bottom: 0;
		right: 16px;
		margin: auto;
	}

	// Kada se dugme hoveruje
	&:hover {
		.btn-icon {
			background-color: palette($blue-grey, 400);
			width: 18%;

			& > span {
				transform: scale(1);
			}
		}
	}
}

/**
 * Ikoncie, TODO
 */
.icon-id-x {
	@extend .fa, .fa-paw;
}

.icon-id-learn  > span { @extend .fa, .fa-graduation-cap; }
.icon-id-review > span { @extend .fa, .fa-flask; }
.icon-id-linky  > span { @extend .fa, .fa-link; }
.icon-id-list   > span { @extend .fa, .fa-list; }

.icon-id-1  { @extend .fa, .fa-comment; }
.icon-id-2  { @extend .fa, .fa-dashboard; }
.icon-id-3  { @extend .fa, .fa-hourglass; }
.icon-id-4  { @extend .fa, .fa-leaf; }
.icon-id-5  { @extend .fa, .fa-paint-brush; }
.icon-id-6  { @extend .fa, .fa-umbrella; }
.icon-id-7  { @extend .fa, .fa-truck; }
.icon-id-8  { @extend .fa, .fa-user-secret; }
.icon-id-9  { @extend .fa, .fa-ship; }
.icon-id-10 { @extend .fa, .fa-plug; }

/**
 * STATS
 */

 dl.stats {
 	display: flex;
 	justify-content: center;
 	align-items: center;

 	dt {
 		color: palette($blue-grey, 600);
 	}

 	dd {
 		display: inline-block;
 		margin-top: 8px;
 		color: palette($pink);
 		font-weight: bold;
 		font-size: 32px;
 	}
 }

 dl.stats-vertical {
  	flex-flow: column;
 }

 dl.stats-horizontal {
	 flex-flow: row;
	 & > * { flex-grow: 1; }
	 dt { text-align: left; }
	 dd { text-align: right; }
 }
