/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Moj dodatni reset
 */

* {
	min-size: 0;
}

input {
  outline: none;
	border: none;
	padding: 0;
	margin: 0;
}
input[type="text"] {
	font: inherit;
	background-color: transparent;
	box-shadow: 0px 2px palette($blue-grey, 600);
	transition: box-shadow .33s ease;

	&:focus {
		box-shadow: 0px 2px palette($pink, 600);
	}
}

// button reset
button, input[type="submit"] {
	background: white;
	border: 0;
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
	border: none;
}

a {
	color: palette($pink, 700);
	text-decoration: none;
}

a:hover {
	box-shadow: 0 1px 0 0 palette($pink, 700);
}

a.button-link {
	color: inherit;
	cursor: pointer;
	&:hover { box-shadow: none; }
}

a.no-emph:hover {
	color: palette($pink, 500);
	box-shadow: none;
}

/**
 * Global
 */

* {
	transition: all .2s linear;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: $font-stack;
	background-color: palette($blue-grey, 700);
}

header {
	background-color: palette($blue-grey, 200);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	height: 68px;
	box-sizing: border-box;
	padding-left: 224px + 10px; // 224 od sidebara plus 10 da bude stvarno
	z-index: 10000;
	@include z-depth(2);
	position: relative;
	width: 100%;

	#hamburger {
		color: palette($blue-grey, 800);
		position: fixed;
		top: 0;
		left: 0;
		height: 48px;
		width: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		padding: 10px;
		font-size: 24px;

		@include sm-and-above {
			display: none;
		}
	}

	#logo {
		position: fixed;
		top: 0;
		left: 0;
		height: 68px;
		width: 224px;
		box-sizing: border-box;
		padding: 10px;
		font-size: 30px;
		transition: all 0s;

		a {
			@extend .no-emph;
			display: flex;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			font-weight: bold;
		}

		@include xs-and-below {
			left: 48px; // zbog hamburgera
			width: 224px - 48px;
			font-size: 20px;

			a {
				justify-content: flex-start;
			}
		}
	}

	@include xs-and-below {
		padding-left: 10px; // vracamo se na originalni
		position: fixed;
	}
}

//TODO debugging boje za main
/*
@include lg-only { main { background-color: palette($orange); } }
@include md-only { main { background-color: palette($green); } }
@include sm-only { main { background-color: palette($blue); } }
@include xs-only { main { background-color: palette($red); } }
@include xxs-only { main { background-color: palette($teal); } }
*/

main {
	position: relative;
	@include force-width(1280px);
	margin: 0 auto;
	left: (224px/2);
	padding: 24px;
	box-sizing: border-box;
	min-height: calc(100vh - #{68px}); // minus heder ceo

	@include md-and-below {
		left:0;
		padding-left: 24px + 224px; // pored 24px standardno da bude jos 224 od sidebar
		@include force-width(100%); // sidebar i dvaput padding
		margin: 0;
	}

	@include xs-and-below {
		padding-left: 24px; // reset na 24
		padding-top: 68px + 24px; // header height + standardni
	}

	@include xxs-only {
		padding: 0;
		padding-top: 86px; // header height
	}
}

/**
 * FAB
 */
.fab {
	width: 64px;
	height: 64px;
	display: block;
	position: fixed;
	bottom: 24px;
	right: 24px;
	background-color: palette($pink, a400);
	line-height: 64px;
	font-size: 36px;
	text-align: center;
	color: white;
	@include z-depth(2);
	border-radius: 50%;
	cursor: pointer;
	font-weight: bold;
}

/**
 * Ikoncie, TODO
 */
.icon-id-x {
	@extend .fa, .fa-paw;
}

.icon-id-learn  > span { @extend .fa, .fa-graduation-cap; }
.icon-id-review > span { @extend .fa, .fa-flask; }
.icon-id-linky  > span { @extend .fa, .fa-link; }
.icon-id-list   > span { @extend .fa, .fa-list; }


/**
 * Colors
 */

@function color-id($id, $amount: 500) {
	@if ($id == 1) { @return palette($red, $amount); };
	@if ($id == 2) { @return palette($purple, $amount); };
	@if ($id == 3) { @return palette($indigo, $amount); };
	@if ($id == 4) { @return palette($blue, $amount); };
	@if ($id == 5) { @return palette($teal, $amount); };
	@if ($id == 6) { @return palette($green, $amount); };
	@if ($id == 7) { @return palette($lime, $amount); };
	@if ($id == 8) { @return palette($amber, $amount); };
	@if ($id == 9) { @return palette($deep-orange, $amount); };
	@if ($id == 10) { @return palette($brown, $amount); };
	@return palette($green, $amount);
}

@function icon-id($id) {
	@if ($id == 1)  { @return ".fa-asterisk"; }
	@if ($id == 2)  { @return ".fa-anchor"; }
	@if ($id == 3)  { @return ".fa-automobile"; }
	@if ($id == 4)  { @return ".fa-balance-scale"; }
	@if ($id == 5)  { @return ".fa-bank"; }
	@if ($id == 6)  { @return ".fa-bed"; }
	@if ($id == 7)  { @return ".fa-beer"; }
	@if ($id == 8)  { @return ".fa-bell"; }
	@if ($id == 9)  { @return ".fa-binoculars"; }
	@if ($id == 10) { @return ".fa-birthday-cake"; }
	@if ($id == 11) { @return ".fa-bomb"; }
	@if ($id == 12) { @return ".fa-book"; }
	@if ($id == 13) { @return ".fa-briefcase"; }
	@if ($id == 14) { @return ".fa-bug"; }
	@if ($id == 15) { @return ".fa-building"; }
	@if ($id == 16) { @return ".fa-bullhorn"; }
	@if ($id == 17) { @return ".fa-bus"; }
	@if ($id == 18) { @return ".fa-child"; }
	@if ($id == 19) { @return ".fa-coffee"; }
	@if ($id == 20) { @return ".fa-cogs"; }
	@if ($id == 21) { @return ".fa-comments"; }
	@if ($id == 22) { @return ".fa-cutlery"; }
	@if ($id == 23) { @return ".fa-envelope"; }
	@if ($id == 24) { @return ".fa-eye"; }
	@if ($id == 25) { @return ".fa-flag"; }
	@if ($id == 26) { @return ".fa-gavel"; }
	@if ($id == 27) { @return ".fa-glass"; }
	@if ($id == 28) { @return ".fa-group"; }
	@if ($id == 29) { @return ".fa-headphones"; }
	@if ($id == 30) { @return ".fa-heartbeat"; }
	@if ($id == 31) { @return ".fa-leaf"; }
	@if ($id == 32) { @return ".fa-magic"; }
	@if ($id == 33) { @return ".fa-magnet"; }
	@if ($id == 34) { @return ".fa-microphone"; }
	@if ($id == 35) { @return ".fa-music"; }
	@if ($id == 36) { @return ".fa-paint-brush"; }
	@if ($id == 37) { @return ".fa-motorcycle"; }
	@if ($id == 38) { @return ".fa-paw"; }
	@if ($id == 39) { @return ".fa-quote-right"; }
	@if ($id == 40) { @return ".fa-ship"; }
	@if ($id == 41) { @return ".fa-space-shuttle"; }
	@if ($id == 42) { @return ".fa-sticky-note"; }
	@if ($id == 43) { @return ".fa-suitcase"; }
	@if ($id == 44) { @return ".fa-tachometer"; }
	@if ($id == 45) { @return ".fa-tree"; }
	@if ($id == 46) { @return ".fa-truck"; }
	@if ($id == 47) { @return ".fa-umbrella"; }
	@if ($id == 48) { @return ".fa-wrench"; }
	@if ($id == 49) { @return ".fa-tasks"; }
	@if ($id == 50) { @return ".fa-shopping-basket"; }
	@return ".fa-asterisk";
}
@for $i from 1 to 51 { .icon-id-#{$i}  { @extend .fa, #{icon-id($i)}; } }

/*
 * Mixin za boje
 */

@mixin level-color($color, $lighter: 300, $darker: 600, $icon: 500) {
	// Boja ikonice
	.icon { color: palette($color, $icon); }
	// Svetlija nijansa ikonice za hover
 	.icon:hover { color:palette($color, $lighter); }
	// Boja pozadine kruga kada se selektira nivo
 	&.active { .icon {background-color: palette($color, $darker)!important; } }
	// Boja dugmadi za sesije
	.session-buttons > div { background-color: palette($color, $darker)!important; }
	// Boja statistike
	.statistics dd { color: palette($color, $darker)!important; }
	// Pita:
 	.pie:nth-of-type(1)::after, .pie:nth-of-type(1)::before { background-color:palette($color, $darker)!important; }
 	.pie:nth-of-type(2)::after, .pie:nth-of-type(2)::before { background-color:palette($color, $lighter)!important; }
 	.pie:nth-of-type(3)::after, .pie:nth-of-type(3)::before { background-color:palette($blue-grey, 700)!important; }
}

.level-red { @include level-color($red, 200); }
.level-purple { @include level-color($purple); }
.level-indigo { @include level-color($indigo); }
.level-blue {	@include level-color($blue); }
.level-teal { @include level-color($teal); }
.level-green { @include level-color($green); }
.level-lime { @include level-color($lime); }
.level-amber { @include level-color($amber); }
.level-orange { @include level-color($orange, 300, 600, 700); }
.level-brown { @include level-color($brown, 300, 500, 600); }

.level-color-id-1 { @extend .level-red; }
.level-color-id-2 { @extend .level-purple; }
.level-color-id-3 { @extend .level-indigo; }
.level-color-id-4 { @extend .level-blue; }
.level-color-id-5 { @extend .level-teal; }
.level-color-id-6 { @extend .level-green; }
.level-color-id-7 { @extend .level-lime; }
.level-color-id-8 { @extend .level-amber; }
.level-color-id-9 { @extend .level-orange; }
.level-color-id-10 { @extend .level-brown; }

/**
 * STATS
 */

dl.stats {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	dt {
		color: palette($blue-grey, 600);
	}

	dd {
		display: inline-block;
		color: palette($pink);
		font-weight: bold;
		font-size: 32px;
	}
}

@mixin stats-vertical {
	flex-flow: column;
	dd { margin-top: 8px; }
}
dl.stats-vertical {
	@extend dl.stats;
	@include stats-vertical;
}

@mixin stats-horizontal {
	flex-flow: row;
	& > * { flex-grow: 1; }
	dt { text-align: left; }
	dd { text-align: right; }
}
dl.stats-horizontal {
	@extend dl.stats;
	@include stats-horizontal;
}

/**
* Toastovi
*/
.toast {
	// Fiktivna klasa
	position: fixed;
	width: 40%;
	height: 36px;
	padding: 24px;
	bottom: 64px;
	left: 0; right: 0;
	margin: auto;
	background-color: palette($blue-grey, 900);
	border-radius: 10px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		display: inline-block;
	}
}

.toast-success, .toast-error, .toast-warning, .toast-message {
	@extend .toast;
}

.toast-success {
}

.toast-error {
	span::before {
		@extend .fa, .fa-fw;
	}
}

/**
 * Velike "kartice" koji sluze kao kontejneri na stranicama
 */
.big-container {
	background-color: palette($blue-grey, 100);
	margin-bottom: 16px;
	@include z-depth(1);
	box-sizing: border-box;
	padding: 16px;
	@include sm-and-below { padding: 8px; }
}

/**
 * Tooltipovi
 */
.tooltip {
	background-color: rgba(black, .7);
	color: rgba(white, .8);
	padding: 8px 12px;
	position: fixed;
	border-radius: 3px;
	z-index: 9000;
	animation: tooltip-appear .2s ease;

	@keyframes tooltip-appear {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

/**
 * Course-banner
 */

select {
	font: inherit;
	color: inherit;
	font-family: inherit;
	font-size: 0.75 * 24px;
	background-color: transparent;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	transition: all .2s ease;

	&:hover, &:active, &:focus {

	}
}

.course-banner, .profile-banner {
	width: 100%;
	margin: 24px auto;
	padding: 24px;
	box-sizing: border-box;
	background-color: palette($blue-grey, 100); // ista kao za big-container
	@include z-depth(1);
	overflow: hidden; // da ne zdrakne senka slike
	position: relative;
	height: 360px;
	@include sm-and-below { height: 240px; }

	display: flex;
	flex-flow: row;
	justify-content: space-between;

	#course-description-length-indicator {
		position: absolute;
		left:   4px;
		bottom: 4px;
		font-size: 12px;
		font-weight: 100;
		opacity: .33;
		display: flex;
		flex-flow: row;
		justify-content: flex-start;
		padding: 4px;
		background-color: palette($blue-grey, 50);

		&.invisible { opacity: 0; }
		&.normal { opacity: 0.3; }
		&.warning { opacity: .9; font-weight: normal; }
		&.danger { opacity: .9; font-weight: bold; color: palette($orange); }
		&.overflow { opacity: 1; font-weight: bold; color: rgba(white, .9); background-color: palette($red); }

		& > span {
			flex-grow: 0;
			margin: 0;
		}
	}

	.avatar {
		margin: -24px 24px -24px -24px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		@include force-width(360px);
		@include force-height(360px);
		@include sm-and-below { @include force-width(240px); @include force-height(240px); }
		@include z-depth(1);

		&:hover ~ #image-upload-prompt {
			transform: scale(1);
		}
	}

	#image-upload-prompt {
		background-color: rgba(black, .6);
		color: white;
		position: absolute;
		$s: 28px;
		padding: 0.2 * $s;
		width:  $s;
		height: $s;
		line-height: $s;
		font-size: 0.8 * $s;
		text-align: center;
		left: 12px;
		top:  12px;
		border-radius: 50%;
		z-index: 50;
		transform: scale(0);
		transition: transform .2s ease;
		transition-delay: .3s;
		&:hover { transform: scale(1); cursor: pointer; }
	}

	#image-upload {
		position: absolute;
		top:    50px;
		bottom: 50px;
		left:   50px;
		width:  360px - 100px;
		height: 360px - 100px;
		padding: 24px;
		box-sizing: border-box;
		background-color: palette($blue-grey, 900);
		color: palette($blue-grey, 100);
		border-radius: 5px;
		@include z-depth(1);

		& > form {
			height: 100%;
			width: 100%;
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			align-items: center;

			& > div {
				width: 100%;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
			}
		}

		#btn-upload-image {
			background-color: palette($pink);
			color: rgba(white, .8);
			border-radius: 2px;
			text-align: center;
			width: 80%;
			height: 36px;
			line-height: 36px;
			font-size: 16px;
			margin: auto;
		}
	}

	.basic-info {
		flex-grow: 1;

		display: flex;
		flex-flow: column;
		justify-content: space-between;
		color: palette($blue-grey, 800);

		h1#course-name, h1#user-name-surname{
			font-weight: bold;
			font-size: 48px;
			display: block;
			width: 100%;
			margin-bottom: 16px;
		}

		.cat-subcat, h2#user-username {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			margin: 0px auto;
			margin-bottom: 16px;
			@include force-height(28px);
			line-height: 28px;
			font-size: 20px;

			i {
				display: inline-block;
				font-size: 16px;
				margin: 0 12px;
				align-self: center;
			}
		}

		#course-description, #user-bio {
			flex-grow: 1;
			position: relative;
			display: flex;
			flex-flow: row;

			& > span {
				overflow: auto;
			}

			& > span, & > textarea {
				flex-grow: 1;
				display: block;
				margin-right: 12px;
				resize: none;
				font: inherit;
				border: none;
			}

			& > textarea {
				background-color: palette($blue-grey, 50);
				padding-bottom: 28px;
				vertical-align: bottom;
			}

			#course-description-buttons {
				flex-grow: 0;
				order: 2;
				width: 36px;
				text-align: center;
				display: flex;
				flex-flow: column;
				justify-content: space-between;

				#btn-course-description-accept  { color: palette($green); }
				#btn-course-description-discard { color: palette($red); }
			}
		}

		.button {
			height: 36px;
			line-height: 36px;
			font-size: 18px;
			cursor: pointer;
			border-radius: 50%;
			transition: all .2s ease;

			&:hover {
				background-color: rgba(white, .3);
			}
		}

		#course-actions {
			position: absolute;
			top:   16px;
			right: 16px;
			width: 36px;
			text-align: center;
			display: flex;
			flex-flow: column;
			justify-content: space-between;
		}
	} // .basic-info
} // .course-banner

/**
 * Dugmad
 */

// Fiktivna klasa
.button-sqr-rect {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	cursor: pointer;
	position: relative;
	@include z-depth(1);
	transition: all .2s ease;
	position: relative;

	div:nth-child(2) {
		text-transform: uppercase;
	}

	&:hover {
		@include z-depth(1.5);
	}
}

.button-rect {
	@extend .button-sqr-rect;
	flex-flow: row;

	& > a {
		display: block;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div.button-icon {
		// Ikonica
		margin-right: 6px;
		font-size: 1.75em;
		transition: all .2s ease;
	}

	div.button-text {
		// Tekst
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
	}

	div.count {
		// Podrazumevana vrednost za broj kartica u sesiji
		position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    border-left: 1px rgba(palette($blue-grey, 900), .2) solid;
		color: rgba(white, 7);

		&:hover {
			background-color: rgba(white, .08);
		}

		&::after {
			@extend .fa;
			content: "\f0d7"; // caret-down
			bottom: 8px;
			left: 0; right: 0;
			font-size: .8em;
			text-align: center;
			color: rgba(white, .4);
			position: absolute;
			display: block;
		}
	}

	ul.dropdown {
		// Drop-down
		opacity: 0;
		margin-top: 60px;
		transition: all .33s ease;
		top: 0;
		background-color: palette($blue-grey, 900);
		padding: 0;
		width: 17%; // isto kao count
		right: 0;
		box-sizing: border-box;
		flex-flow: column;
		@include z-depth(1);
		border-radius: 3px;
		overflow: hidden;
		position: absolute;
		z-index: 20000;
		display: none;

		&.show {
			display: flex;
			opacity: 1;
			margin-bottom: -90px - 6px;
		}

		li {
			height: 24px;
			font-weight: bold;
			border-bottom: rgba(white, .2) 1px solid;
			flex-grow: 1;
			color: rgba(white, .7);
			&:last-child { border-bottom: none; }

			&:hover {
				background-color: palette($blue-grey, 800);
				color: rgba(white, .9);
			}

			& > a {
				width: 100%;
				height: 100%;
				display: block;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.button-sqr {
	@extend .button-sqr-rect;
	flex-flow: column;
	width: 100px;
	height: 100px;

	div:nth-child(1) {
		$s: 64px;
		width:       $s;
		height:      $s;
		font-size:   $s * 0.8;
		line-height: $s;
		text-align: center;
		color: palette($blue-grey, 50);
	}

	div:nth-child(2) {
		font-size: 12px;
		color: palette($blue-grey, 200);
	}
}


/**
 *
 * Leaderboard
 */

#leaderboard {

	#leaderboard-tabs {
		margin-bottom: 12px;
		display: flex;
		justify-content: space-between;

		li {
			font-weight: bold;
			text-transform: uppercase;
			cursor: pointer;
			padding: 4px 6px;
			width: 33%;
			text-align: center;
			transition: all 0s;

			&:hover {
				color: palette($pink);
			}

			&.active {
				border-bottom: 2px palette($pink) solid;
			}
		}
	}

	 ul:not(#leaderboard-tabs) {
	   display: flex;
	   flex-wrap: wrap;

		 &:not(.current) {
			 display: none;
		 }

	   li {
	     width: 100%;
	     box-sizing: border-box;;
	     padding: 6px;
	     margin-bottom: 6px;
	     display: flex;
	     align-items: center;
	     justify-content: space-between;

	     &.highlight {
	       color: palette($pink)!important;
		    background-color: rgba(255, 255, 255, 0.3);
		    border-radius: 5px;
	     }

			 .order {
				 flex-grow: 0;
				 margin-right: 16px;
			 }

	     .avatar {
	       display: none;
	       background-color: white;
	       justify-content: center;
	       align-items: center;
	       border-radius: 50%;
	       margin-bottom: 8px;
				 background-size: cover;
				 background-position: center center;

	       i {
	         @extend .fa-spin;
	       }
	     }

	     .username {
	       display: inline-block;
				 width: 100%;
				 flex-grow: 1;
	       font-size: 16px;
	     }

	     .score {
	       display: inline-block;
	       font-size: 18px;
	       font-weight: bold;
	     }
	   }
	 }
}

#leaderboard.leaderboard-emphasized-top > ul:not(#leaderboard-tabs) > li {

	// Drugi i treci po redu
	&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;

		.order {
			display: none;
		}

		.username {
			text-align: center;
		}

		.avatar {
			width: 64px;
			height: 64px;
			display: flex;
		}
	} // drugi i treci po redu

	// Najbolji
	@include md-and-above {
		&:nth-of-type(1) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;

			.order {
				display: none;
			}

			.avatar {
				display: flex;
				width:  92px;
				height: 92px;
			}

			.username {
				font-size: 20px;
				font-weight: bold;
				color: palette($pink, 600);
				text-align: center;
			}

			.score {
				font-size: 24px;
			}
		}
	}
}

.full-screen {
	display: none;
	@include z-depth(4);
	top: 100px; //TODO visina headera sa sve sranjima
	left: 224px + 100px; //TODO refaktorisi, 224 je sirina sidebara
	right: 100px;
	bottom: 100px;
	background-color: palette($blue-grey, 200);
	z-index: 9999;
	position: fixed;

	.full-screen-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: flex-start;
		align-items: flex-start;
		position: absolute;
		padding: 24px;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
	}

	&.visible {
	  display: flex;
	}
}

.less {
	position: absolute;
	top:   12px;
	right: 12px;
	color: palette($blue-grey, 500);
	font-size: 12px;
	cursor: pointer;
	transition: all .1s ease;

	&:hover {
		transform: scale(1.2);
		color: palette($blue-grey, 300);
	}
}


/**
 * Search resulrs
 */

div#search-results-outer, div#user-courses {
min-width: calc(100% + #{8px}); // dva puta margina kartica
left: -4px; // margina kartica

 & > ul {
	 width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 .result, .course-card {
   @extend .big-container;
   width: 300px;
   height: 300px + 150px + 2*16px;
   padding: 0;
   position: relative;
   overflow: hidden; // da ne zdrakne senka
   display: flex;
   flex-flow: column;
	 margin: 4px;

	 @include md-and-below {
		 width: calc((100%/3) - #{8px});
	 }

	 @include xs-and-below {
		 width: calc((100%/2) - #{8px});
	 }

	 @include xxs-only {
		 width: calc((100%) - #{8px});
	 }

   .avatar-wrapper {
       position: relative;

     & > a {

       width: 100%;

       .avatar {
         padding-bottom: 300px;
         background-size: cover;
         background-position: center center;
         transition: all .5s ease;
       }
     }

     .creator-username {
       position: absolute;
       bottom: 4px;
       right:  4px;
     }
   }

   .course-info {
     margin: 16px;
     flex-grow: 1;
     position: relative;
     @include force-height(150px);
     overflow: hidden;
     transition: all .5s ease;
     display: flex;
     flex-flow: column;
   }

   .course-info-visible {
     //background-color: palette($green);
     @include force-height(350px); // na 150px koji ima .course-info sam dodoao 200 koje sam smanjio u avataru
     display: flex;
     flex-flow: column;
     justify-content: space-between;
     align-items: center;

     .course-info-init {
       //background-color: palette($yellow);
       width: 100%;
       display: flex;
       flex-flow: column;
       justify-content: space-between;
       align-items: center;
       @include force-height(150px);
     }

     .show-more {
       position: absolute;
       width: 48px;
       height: 48px;
       line-height: 24px;
       text-align: right;
       top: 0px; right: 0px;
       color: palette($blue-grey, 500);
       cursor: pointer;
     }

     .name {
       max-width: 100%;
			 align-self: flex-start;

			 & > a {
				 @extend .no-emph;
				 font-size: 2em;
				 font-weight: bold;
				 display: block;
				 white-space: nowrap;
				 overflow: hidden;
				 text-overflow: ellipsis;
			 }
     }

     .cat-subcat {
       width: 100%;
       display: flex;

       i {
         margin: 0 8px;
         display: block;
       }

			 a {
				 @extend .no-emph;
			 }
     }

     .stats {
       width: 100%;
       margin: 18px 0;
       display: flex;
       justify-content: space-around;

       dl {
         width: 30%;
         display: flex;
         justify-content: center;
         font-size: 1.2em;

         dt {
           width: 24px;
           text-align: center;
           margin-right: 6px;
         }

         dd {

         }
       }
     } //stats

     .description-snippet-placeholder {
       width: 100%;
       @include force-height(28px);
       overflow: hidden;
       position: relative;
     }

     .description-full {
       flex-grow: 1;
       width: 100%;
       font-size: 14px;
       line-height: 14px;
       margin-top: -28px;
     }

     .button-enroll, .button-goto {
       width: 100%;
       overflow: hidden;
       font-size: 0.75em;
       padding: 6px 0;
       background-color: palette($pink);
       color: rgba(white, .9);
     }

   }

   &.expanded {
     .avatar-wrapper > a > .avatar {
       padding-bottom: 100px;
     }

		 .name > a {
			 white-space: normal;
		 }

     .course-info {
       overflow: visible;
       @include force-height(360px);
     }
   }

 }
}
