/**
 * Zasad je ovo samo pocetna stranica kada korisnik nije logovan.
 */

main#home-index {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    @include xs-and-below {
      flex-flow: column;
    }
  }
}

// Fiktivna klasa za forme
// Obe forme imaju .title, .inputs sa .inout-group i .button
.form {
  background-color: palette($blue-grey, 100);
  @include z-depth(2);
  flex-grow: 0;
  width: 40%;
  padding: 5%;
  box-sizing: border-box;

  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @include md-and-below {
    width: 45%;
    padding: 24px;
  }

  @include xs-and-below {
    width: 100%;
    margin-bottom: 16px;
  }

  .title {
    h4 {
      color: palette($blue-grey, 400);
      font-size: 18px;
    }

    h2 {
      color: palette($pink, 500);
      font-weight: bold;
      font-size: 36px;
    }
  }

  .inputs {
    margin: 30px 10%;
    display: flex;
    flex-flow: column;
    align-items: center;

    @include sm-and-below {
      margin: 5px 0;
    }

    .input-group {
      margin: 20px 0;
      width: 100%;

      label {
        font-size: 14px;
        color: palette($blue-grey, 600);
        display: block;
        position: relative;
      }

      input[type="text"] {
        width: 100%;
        height: 26px;
        font-size: 20px;
        font: inherit;
        font-weight: bold;
        color: palette($blue-grey, 700);
        background-color: transparent;
        box-shadow: 0px -2px 0px 0px palette($blue-grey, 300) inset;
        transition: all .33s ease;
      }

      input[type="text"]:focus {
        box-shadow: 0px -3px 0px 0px palette($pink, 500) inset;
      }
    }
  }

  .button {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 3%;
    background-color: palette($blue-grey, 700);
    color: rgba(white, .8);
    font-weight: bold;
    font-size: 18px;
    @include z-depth(1);
    transition: all .33s ease;
    cursor: pointer;
    text-transform: uppercase;
  }

  .button:hover {
    background-color: palette($blue-grey, 700);
    @include z-depth(1.5);
  }
}

#login-form {
  @extend .form;
}

#register-form{
  @extend .form;
  order: -1; // Prvo (levo, gore, sta vec) da se vidi forma za registraciju
}
