main#review-session, main#learn-session, main#spajalica {
	position: relative;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;

	.workspace {
    flex-grow: 1; // da se workspace rasiri kolko moze i tako prilepo progress skroz dole
    max-height: 640px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

		@include xs-and-below {
			flex-direction: column;
			height: 100%;
		}

		& > * {
      margin: 36px;
			flex-grow: 1;

			@include md-and-below {
				margin: 24px;
			}

			@include xs-and-below {
				margin: 0px;
			}
    }

		.info {
			flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
			box-sizing: border-box;
			@include force-width(384px);
			@include md-and-below {
				@include force-width(320px);
			}
			@include xs-and-below {
				@include force-width(100%);
				order: 2;
			}
			@media screen and ( max-height: 500px ){
    		display: none;
			}

      & > * { // sve info kartice (levo, sivo)
        flex-grow: 1;
        background-color: palette($blue-grey, 900);
        @include z-depth(1);
        color: palette($blue-grey, 300);
        padding: 24px;

				@include xs-and-below {
					padding: 6px;
				}

				&.session-info {
					display: flex;
					flex-flow: column;
					@include xs-and-below { flex-direction: row; }

					dl {
						flex-grow: 2;
						display: flex;
						justify-content: space-around;
						align-content: space-around;
						align-items: flex-start;
						flex-wrap: wrap;
						font-size: 12px;
						text-align: center;
						display: flex;

						dt {
							color: palette($blue-grey, 600);
						}
					}

					dl.general {
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						align-items: stretch;
						padding: 8px;
						box-sizing: border-box;

						div {
							width: 40%;
							font-size: 14px;
							display: flex;
							flex-direction: column;
							justify-content: space-between;

							@include xs-and-below {
								width: 20%;
								font-size: 12px;
							}

							dt {
								margin-bottom: 10px;
								@include xs-and-below {
									font-size: 10px;
								}
							}

							dd {
								font-size: 32px;
								@include xs-and-below {
									font-size: 16px;
								}
							}
						}
					}

					dl.total-score {
						flex-grow: 3;
						align-items: center;

						dt {
							font-size: 16px;
							font-weight: bold;
							margin-bottom: 10px;
							color: palette($blue-grey, 400);
							@include xs-and-below {
								display: none;
							}
						}

						dd {
							color: palette($pink, 500);
							font-weight: bold;
							font-size: 92px;
							@include xs-and-below { font-size: 48px; }
						}
					}

					dl.last-score {
						align-items: center;
						font-size: 36px;
						@include xs-and-below { font-size: 24px; }
						@include xxs-only { display: none; }
					}

					dl.last-score-breakdown {
						flex-grow: 1;
						align-items: flex-end; // prilepljeno u z dno kartice
						@include force-height(64px); // jer ce brojke da rastu kako je bolji

						@include xs-and-below {
							display: none;
						}

						div {
							@include force-width(25%);
						}

						dt {

						}

						dd {
							font-size: 14px;
							position: relative; // "perfect" moze da se alignuje u cenar jer mogu da stavim da ::before ima width:100% i to ce da gadja roditelja tj ovo

							&.level-1 { font-size: 14px; color: palette($blue-grey); }
							&.level-2 { font-size: 18px; color: palette($blue-grey); }
							&.level-3 { font-size: 24px; color: palette($blue-grey); }
							&.level-4 { font-size: 36px; color: palette($blue-grey); font-weight: bold;}
							&.level-5 { font-size: 48px; color: palette($pink); font-weight: bold; }

							@keyframes whoom {
								from {font-size: 12px; bottom: 48px; opacity: 1;}
								to   {font-size: 24px; bottom: 60px; opacity: 0;}
							}

							&.level-5::before {
								content: "Perfect!";
								display: block;
								position: absolute;
								font-size: 12px;
								color: palette($blue-grey, 100);
								width: 100%;
								bottom: 48px;
								animation-name: whoom;
								animation-duration: 0.3s;
								animation-fill-mode: forwards;
							}
						}



						// Okrecemo redosled naslova i vrednosti za last-score-breakdown,
						// tj. dole stoji base score
						div {
							display: flex;
							flex-flow: column;
							dd { order: -1; }
						}
					}

				}
      }
    }

		.cards {
			flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
			margin-left: 0;
			margin-right: 36px;
			overflow: hidden;
			@include xs-and-below {
				margin-right: 0;
			}

			.current-card {
				background-color: palette($blue-grey, 50);
				z-index: 20;
				@include z-depth(4);
				flex-grow: 10;
				width: 100%;
				position: relative;

				#jingle-correct {
					color: palette($green, 600);
				}

				#jingle-wrong {
					color: palette($red, 600);
				}

				#jingle-correct, #jingle-wrong {
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 400px;
					z-index: 3;
					opacity: 0;
					animation: jingle .75s ease-out;

					@keyframes jingle {
						from {
							opacity: 1;
							transform: scale(.6);
						}
						to {
							opacity: 0;
							transform: scale(.8);
						}
					}

					i {
						display: block;
						$c: palette($blue-grey, 50);
						$x: 2px;
						$b: 0;
						text-shadow: $x $x $b $c, -$x $x $b $c, $x -$x $b $c, -$x -$x $b $c,
											   0 $x $b $c, 0 -$x $b $c, $x 0 $b $c, -$x 0 $b $c;
					}
				}

				.challange {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					position: absolute;
					box-sizing: border-box;
					transition: all 0s;
					color: palette($blue-grey, 900);
					padding: 24px;
					@include sm-and-below {
						padding: 12px;
					}
					@include xs-and-below {
						padding: 4px;
					}

					& > div {
						display: flex;
						justify-content: center;
						align-items: center;
					}

					& > div:nth-child(1) {
						height: 48px;
						font-size: 36px;
						font-weight: bold;
						padding-top: 24px;
					}

					& > div:nth-child(2) {
						flex-grow: 1;
					}

					& > div:nth-child(3) {
						display: flex;
						justify-content: space-between;

						& > button {
							width: 100%;
							padding: 16px;
							margin: 12px;
							@include sm-and-below {
								margin: 6px;
							}
							@include xs-and-below {
								margin: 0;
							}
							box-sizing: border-box;
							background-color: palette($pink, 500);
							text-transform: uppercase;
							color: rgba(white, .9);
							font-size: 14px;
							font-weight: bold;
							cursor: pointer;

							i {
								margin-right: 6px;
								font-size: 1.2em;
							}

							&#skip-to-last, &#back-to-course {
								background-color: palette($blue-grey, 200);
								color: rgba(black, .6);
							}

							&:hover, &:focus {
								@include z-depth(1);
							}
						}
					}

					& > div.current-card-info {
						position: absolute;
						top: 12px; left: 12px; right: 12px;
						@include xs-and-below { top: 6px; left: 6px; right: 6px; }
						display: flex;
						justify-content: space-between;

						& > dl {
							width: 100%;
							display: flex;
							font-size: 13px;

							&:nth-child(1) { justify-content: flex-start; }
							&:nth-child(2) { justify-content: center; }
							&:nth-child(3) { justify-content: flex-end; }

							dt {
								font-style: italic;
								margin-right: 4px;
								color: palette($blue-grey, 400);
							}

							dd {
								font-weight: bold;
								color: palette($blue-grey, 600);
							}
						}
					}

					&#preview {
						& > div:nth-child(2) {
							font-size: 64px;
							font-weight: bold;
							color: palette($pink, 600);
						}
					}

					&#multiple-choice {
						ul {
							display: flex;
							flex-wrap: wrap;
							width: 80%;
							@include xxs-only { width: 98%; }

							& > li {
								font-size: 18px;
								width: 100%;
								box-sizing: border-box;
								background-color: palette($blue-grey, 100);
								padding: 16px;
								margin: 6px 0;

								&.wrong {
									background-color: palette($red);
									color: white;
								}

								&.correct {
									background-color: palette($green);
									color: white;
								}
							}
						}
					}

					&#hangman {
						& > div:nth-child(2) {
							display: flex;
							flex-flow: column;
							font-size: 32px;
							font-family: monospace;
							font-weight: bold;
							text-align: left;

							input {
								box-sizing: border-box;
								border: none;
								box-shadow: none;
								position: absolute;
								display: block;
								color: palette($blue-grey, 900);
								margin-top: -35px; // natempirano
								letter-spacing: 7px;
							}

							pre {
								color: palette($blue-grey, 300);
								letter-spacing: 7px;
							}
						}
					}

					&#scrabble {
						& > div:nth-child(2) {
							display: flex;
							flex-flow: column;
							font-size: 32px;
							font-family: monospace;
							font-weight: bold;
							text-align: left;
						}

						input {
							width: 90%;
						}

						ul {
							display: flex;
							margin-top: 36px;
					    width: 100%;
					    flex-wrap: wrap;
					    justify-content: center;

							li.scrabble-clickable {
								width: 36px;
								height: 36px;
								position: relative;
								margin: 4px;
								background-color: palette($blue-grey, 700);

								&.used {
									opacity: .1;
								}

								pre {
									display: block;
									width: 100%;
									height: 100%;
									color: rgba(white, .8);
									font-size: 24px;
									line-height: 36px;
									text-align: center;
									cursor: pointer;
								}
							}
						}
					}

					&#real-deal {
						input {
							width: 80%;
							font-size: 36px;
							font-weight: bold;
						}
					}

					&#postview {
						& > div:nth-child(2) {
						  display: flex;
						  flex-flow: column;

							& > span {
								display: inline-block;
								margin: 10px;
								font-size: 48px;
								font-weight: bold;

								&:first-child {
									// givenAnswer
									font-size: 36px;
									position: relative;

									&::before {
						        border-bottom: 3px solid rgba(palette($red), .4);
						        position: absolute;
						        content: "";
						        width: 130%;
										margin-left: -15%;
						        height: 50%;
										transform: rotate(-4deg);
							    }

							    .markMissingCharacter {
							        color: palette($green);
							    }
							    .markWrongCharacter {
							        color: palette($red);
							    }
							    .markExtraCharacter {
							        color: palette($orange);
							    }
							    .markAccentMistake {
							        color: palette($blue);
							    }
								}
							}
						}
					}

					&#cover {
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						#cover-loading {
							padding-top: 24px;
							display: flex;
							flex-direction: column;
							align-items: center;

							i {
								color: palette($blue-grey, 600);
								font-size: 24px;

								&.fa-check { color: palette($green); }
								&.fa-times { color: palette($red); }
							}

							span {
								display: block;
								margin-top: 16px;
								color: palette($blue-grey, 200);
								font-size: 14px;
								font-weight: normal;
								font-style: italic;
							}
						}

						#cover-score {
							flex-grow: 1;
							display: flex;
							justify-content: space-around;
							align-items: center;

							dd {
								display: block;
								margin-bottom: 5px;
								font-weight: bold;
								text-align: center;
								color: palette($blue-grey, 700);
							}

							dt {
								font-weight: bold;
								color: palette($pink, 600);
								font-size: 80px;
							}
						}

						#score-buttons {
							button {
								width: 40%;
								padding: 16px;
								background-color: palette($blue-grey, 700);
								color: rgba(white, .8);
							}
						}

					}

				}
			}
		}

		.options {
			flex-grow: 0;
			margin-left: 0;
			display: flex;
			flex-flow: column;
			justify-content: flex-start;
			display: none; //TODO ako ih implementiramo, sklni ovo i sredi

			button:not(:last-child) {	margin-bottom: 10px; }
			button {
				width:  40px;
				height: 40px;
				background-color: palette($blue-grey, 300);
				@include z-depth(1);
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				transition: all 0.2s ease;
			}

			button:focus, button:hover {
				background-color: palette($blue-grey, 100);
				width: 46px;
				margin-right: -6px; // jer se width povecava za 6px
			}
		}

	}
}



main#review-session {

  .workspace {

    .cards {

      .current-card {

        .card-content {

					margin-bottom: 0;

          .card-info {
            flex-grow: 0; // zauzimi ono sto moras
            height: 32px;
            display: flex;
            justify-content: space-between;

            dl {
              &:first-child { text-align: left;  }
              &:last-child  { text-align: right; }

              dt {
                height: 14px;
                font-size: 14px;
                line-height: 14px;
              }

              dd {
                height: 18px;
                font-size: 18px;
                line-height: 18px;
              }
            }
          }
        }

        .timer {
          height: 18px;
          background-color: palette($blue-grey, 200);
          margin: 64px;
          margin-top: 0;
          border-radius: 5px;
					transition: all 0s;

          .remaining-time {
            background-color: palette($blue-grey, 500);
            width: 85%;
            height: 100%;
            border-radius: 5px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
						transition: all 0s;

            & > span {
              padding: 10px;
              display: block;
              border-radius: 5px;
              font-size: 12px;
              color: white;
							transition: all 0s;
              //background-color: palette($blue-grey, 400);
            }
          }
        }
      }

      .next-card {
        background-color: palette($blue-grey, 300);
        z-index: 5;
        @include z-depth(2);
        flex-grow: 1;
        width: 80%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;

        span {
          display: block;
          font-size: 24px;
          font-weight: bold;
          color: palette($blue-grey, 900);
        }
      }
    }



  }

	.progress-bar > ul > li {

    // Uvek treba da ima (sakrivenu) brojku, da bi tranzicija radila.
    // Brojka ce biti stvarno vidljiva tek sa .dispaly-number.
    @for $i from 1 through 60 {
      &:nth-child(#{$i})::after { content: "" + $i }
    }
    &::after {
      height: 32px;
      font-weight: bold;
      line-height: 32px;
      font-size: 32px;
      width:  86px;
      display: block;
      position: absolute;
      margin-left: - 86px / 2 + 24px / 2; // poluduzina njega, poluduzina kruzica gore
      margin-top: 0px;
      opacity: 0;
			z-index: 2;
			$c: palette($blue-grey, 700); // boja body pozadine
			text-shadow: 1px 1px 2px $c, -1px 1px 2px $c, 1px -1px 2px $c, -1px -1px 2px $c;
      transition: all .33s linear;
    }

    &.display-number::after {
			opacity: 1;
      margin-top: 32px;
      color: rgba(black, .3);
    }
	}

}


main#learn-session {

	.workspace {

		.multiple-choice {
			li {


			}
		}

	}

	.progress-bar > ul {
		flex-wrap: wrap;

		& > div {
			margin: 5px;
		}
	}

}


main#spajalica {

	.cards {
		position: relative;

		ul {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: space-between;

			li {
				position: relative;
				width: 32%;
				height: 32%;
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				text-align: center;
				word-break: break-word;
				cursor: pointer;
				user-select: none;

				.chip {
					@include z-depth(1);
					position: relative;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					background-color: palette($blue-grey, 100);
					overflow: hidden;
					transform: scale(1);
					transition: all .2s ease;

					& > div {
						display: block;
						margin-left: 5%;
						@include force-width(90%);
						@include force-height(90%);
						display: flex;
						justify-content: center;
						align-items: center;

						& > span {
							display: block;
							font-size: 32px;
						}

						&.old {
							@include force-width(0);
							opacity: 0;
							margin-left: 0;
							animation: show-chip .33s ease;
						}

						&.new {
							//background-color: palette($yellow);
						}
					}

					&.selected {
						@include z-depth(2);
						background-color: palette($blue-grey, 50);
						transform: scale(1.02);
					}

					&.incorrect {
						background-color: palette($red, 200);
						transform: scale(1) rotate(0deg);
						animation: chip-incorrect .5s ease 0s infinite alternate;
					}

					@keyframes chip-incorrect {
						0%   { transform: scale(1)    translate(0px, 0px); }
						12.5%  { transform: scale(0.96) translate(2px, 0px); }
						25%  { transform: scale(0.96) translate(-2px, 0px); }
						37.5%  { transform: scale(0.96) translate(2px, 0px); }
						50%  { transform: scale(0.96) translate(-2px, 0px); }
						62.5%  { transform: scale(0.96) translate(2px, 0px); }
						75%  { transform: scale(0.96) translate(-2px, 0px); }
						87.5%  { transform: scale(0.96) translate(2px, 0px); }
						100% { transform: scale(1)    translate(0px, 0px); }
					}

					&.correct {
						background-color: palette($green, 200);
						transform: scale(1.04);
					}

					@keyframes show-chip {
						0% {
							@include  force-width(90%);
							opacity: 1;
							margin-left: 5%;
						}
						50% {
							opacity: 0;
						}
						100% {
							@include  force-width(0);
							margin-left: 0;
						}
					}

					&[data-qa="q"] {
						font-weight: bold;
						color: palette($pink, 600);
					}


				}

				.chip:hover {
					transform: scale(0.98);
				}
			}
		}
	}

	.timer {
		flex-grow: 0;
		margin-left: 20px;
		@include force-width(12px);
		@include z-depth(1);
		background-color: palette($blue-grey, 400);
		border-radius: 6px;
		position: relative;

		div {
			background-color: palette($blue-grey, 100);
			position: absolute;
			border-radius: 6px;
			bottom: 0;
			width: 100%;
			height: 60%;
			transition: background-color .33s ease;

			span {
				display: block;
				position: absolute;
				left: 20px;
				font-weight: bold;
				opacity: 0.4;
			}

			&.danger {
				background-color: palette($pink, 600);
			}
		}
	}

	#cover-linky {
		display: none;
	}

	#cover-linky.show {
		background-color: palette($blue-grey, 700);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 1;
		animation: cover 1s ease;
		overflow: hidden;
		z-index: 9999;

		@keyframes cover {
			from { opacity: 0; }
			to { opacity: 1; }
		}

		aside {
			width: 80%;
			height: 80%;
			background-color: palette($blue-grey, 100);
			@include z-depth(2);
			animation: cover-aside 1s ease;
			display: flex;
			flex-flow: column;
			justify-content: space-around;
			align-items: center;
			position: relative;

			@keyframes cover-aside {
				from { transform: scale(1.4) }
				to { transform: scale(1) }
			}

			&>* {
				width: 100%;
			}

			.message {
				text-align: center;

				.title {
					font-size: 64px;
					font-weight: bold;
					color: palette($pink);
				}

				.subtitle {
					font-size: 24px;
					color: palette($blue-grey, 600);
				}
			}

			.info {
				display: flex;
				justify-content: center;
				align-items: center;

				.total-score {
					font-size: 108px;
					font-weight: bold;
					color: palette($pink);
					padding: 16px;
					width: 230px; // da mogu da stanu 4 cifre unutra
					margin: 16px;
					text-align: center;
					transition: transform .2s ease;

					&.boom {
						transform: scale(1.3);
					}
				}

				.additional {
					$h: 48px;

					height: $h;
					width: 280px;
					overflow: hidden;
					position: relative;

					ul {
						position: absolute;
						top: $h;
						height: 100%;
						width: 100%;
						line-height: $h;

						li {
							height: 100%;
							width: 100%;
							font-size: 0.4 * $h;
							position: relative;

							span {
								font-size: 0.9 * $h;
								color: palette($pink);
								display: block;
								font-weight: bold;
								position: absolute;
								right: 0;
								top: 0;
							}
						}
					}
				}
			}

			.actions {
				display: flex;
				justify-content: center;
				align-items: center;

				.button-rect {
					width: 25%;
					height: 64px;
					background-color: palette($pink);
					margin: 12px;
    			color: rgba(white, .9);
				}
			}

		}
	}

}
