main#users-index {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  & > * { flex-grow: 0; position: relative; }

  #user-stats, #leaderboard {
    padding: 16px;
    @include force-height(400px);

    .more {
      @extend .less;
    }

    .full-screen {

      .full-screen-inner {

        & > div:not(.less) {
          // week-, month-, total-container
          width: 25%;
          height: 100%;
          position: relative;
          overflow-y: auto;
        }
      }

      .full-leaderboard-headings {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 24px 0;

        h3 {
          display: block;
          text-align: center;
          width: 100%;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 2.2em;
        }
      }

      ul {
        display: flex;
        flex-flow: column;
        width: 100%;
      }
    }
  }

  #user-stats {
    width: 75%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > div:not(.more):not(.full-screen) {
      flex-grow: 1;
      margin: 1%;
      position: relative;
    }

    #learning-history-month-wrapper {
      width: 100%;
    }

    .line-legend {
      opacity: 0.3;
      transition: opacity .2s ease;
      cursor: default;
      position: absolute;
      top:  20px;
      left: 40px;
      background-color: palette($blue-grey, 900);
      padding: 8px 12px;
      border-radius: 5px;
      color: palette($blue-grey, 100);
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: left;

      &:hover {
        opacity: 1;
      }

      .legend-color {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        box-shadow: 0 0 0 1px rgba(white, .5) inset;
      }

      .legend-name {
        display: inline-block;
        height: 12px;
        font-size: 12px;
      }
    }
  }

  #leaderboard {
    width: 23.5%;
    display: flex;
    flex-flow: column;

    & > ul:not(#leaderboard-tabs) {
      flex-grow: 1;
    }
  }

  div#user-courses {
    padding: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;

    li.course-card {

      .course-info {
        overflow: visible;
      }

      .stats {
        dt { display: none; }
        dd { font-weight: bold; }
      }

      .session-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;

        a {
          display: block;
          width: 48%;
          height: 48px;

          .button-rect {
            height: 100%;
            width: 100%;
            background-color: palette($pink);
            color: rgba(white, .9);
            font-size: .8em;
          }
        }
      }
    }
  }
}
