////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// OSNOVNI LEJAUT ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$font-stack: 'Roboto', 'Arial', sans-serif;

// Header
$header-h: 68px;
$header-padding: 10px;
$header-bg-color: palette($blue-grey, 200);

// Sidebar
$sidebar-w: 224px;

// Main
$main-padding: 24px;

////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// BOJE /////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$main-color-name: $pink;
$main-bg-color: palette($blue-grey, 700);
